/*
  Этот компонент использует общие стили из
  '../admin-client-list/admin-client-list.component.scss',
  которые указаны в 'styleUrl' компонента .ts
*/

/* Специфичные стили (если нужны) можно добавить сюда */
